/* font link  */
body{
    font-family: 'EB Garamond', serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}


/* common styles  */



/* nav styles start  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img{
    display: flex;
    gap: 10px;
    font-size: 30px;
    align-items: center;
}
.frame-img{
    width: 50%;
    height: 25%;
}
.gamer-g{
font-weight: 700;
    color:   #FF42A5 ;
}

.nav-link{
    color: #3C354F;
    text-align: center;
    font-weight: 500;
}
.nav-link > a{
    margin-right: 15px;
    text-decoration: none;
}
.follow-anchor{
    background-color: rgb(218, 214, 214);
    padding: 5px;
    border-radius: 10px;
   justify-content: space-around;
}
.fa-youtube{
    color: red; 
    margin-left: 10px;
    margin-right: 10px; 
}
.fa-tiktok{
    color: black, red;
}
/* nav styles end */

/* banner section start */
.banner-section{
}
.banner{
display: flex;
align-items: center;
margin-top: 30px;
padding-left: 50px;
}

.banner-text{
    width: 100%;
}
.banner-title-1{
    color: #0B0223;
text-align: center;
font-size: 40px;
font-weight: 700;
}
.banner-title-2{
    font-size: 70px;
    font-weight: 900;
    text-align: center;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.banner-description{
    color: #534C64;
    text-align: start;
text-align: center;
font-size: 20px;
font-weight: 500;
margin-top: 20px;

}

.banner-btn{
    text-align: center;
    margin-top: 40px;
}
.sign-in-btn{
    border: none;
    color: white;
padding: 15px 30px;
border-radius: 48px;
background-color: #FF42A5 ;
}
.rouge-btn{
    
    border: none;
    color: white;
padding: 15px 25px;

border-radius: 48px;
background-color: #4EC5F7 ;
}


.banner-img{
    padding-right: 20px;
    /* width: 100%;
    height: auto; */
}
/* banner section end */







/* responsive styles */

/* mobile device */
@media screen and (max-width:576px) {
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }
    .nav-link{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        
    }

    /* banner  */
    .banner{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
        }

        .banner-text{
            align-items: center;

            width: auto;
        }
        .banner-img{
        align-items: center;
        
        }

        
}